<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <style>
        input,
        label,
        select {
            margin-top: 20px;
        }

        form,
        h1 {
            margin-left: 250px;
        }
    </style>
</head>

<body>
    <h1>Registrations forms</h1>
    <form action="/registrationPage" method="POST">
        <label for="FirstName">First Name :</label>
        <input type="text" name="firstName" id="FirstName"><br>
        <label for="lastName">Last Name :</label>
        <input type="text" name="lastName" id="lastName"><br>
        <label for="gender">Gender :</label>
        <label for="male">Male</label>
        <input type="radio" value="male" name="gender" id="male">
        <label for="female">Female</label>
        <input type="radio" value="female" name="gender" id="female">
        <label for="other">Other</label>
        <input type="radio" value="other" name="gender" id="other"><br>
        <label for="year">Choose Year : </label>

        <select name="year" id="year">
            <option value="firstYear">1st Year</option>
            <option value="secondYear">2nd Year</option>
            <option value="thirdYear">3d Year</option>
            <option value="forthYear">4th Year</option>
        </select>
        <br>
        <label for="city">City</label>
        <input type="text" name="city" id="city"><br>
        <label for="email">Email :</label>
        <input type="email" name="email" id="email"><br>
        <label for="mobileNumber">Mobile Number</label>
        <input type="number" name="mobileNumber" id="mobileNumber"><br>
        <label for="enrolmentId">Enrolment ID (EID) :</label>
        <input type="text" name="eid" id="enrolmentId"><br>
        <label for="password">Password :</label>
        <input type="password" name="password" id="password"><br>
        <label for="ConfirmPassword">Conform Password :</label>
        <input type="password" name="ConfirmPassword" id="ConformPassword"><br>

        <input type="submit" value="Submit Now">
        <input type="reset" value="Clear Data">
    </form>

</body>

</html>